<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="product.image" [alt]="product.name"></td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
        </tr>
        <tr>
            <td>{{product2.name}}</td>
            <td>{{product2.type}}</td>
            <td>{{product2.price}}</td>
            <td>{{product2.stock}}</td>
        </tr>
        <tr>
            <td>{{product3.name}}</td>
            <td>{{product3.type}}</td>
            <td>{{product3.price}}</td>
            <td>{{product3.stock}}</td>
        </tr>
        <tr>
            <td>{{product4.name}}</td>
            <td>{{product4.type}}</td>
            <td>{{product4.price}}</td>
            <td>{{product4.stock}}</td>
        </tr>
    </tbody>
</table>
